.OrgEdge {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    clear: left;
    float: left;
    text-align: center;
    position: absolute;
    border: solid #b0e0e6;
    background-color: #e0ffff;
    width: 40px;
    height: 50px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 10px;
}

.OrgEdge:link   { background-color: #6699FF; }
.OrgEdge:visited { background-color: #3366FF; }
.OrgEdge:hover { background-color: #6699FF; }
.OrgEdge:active  { background-color: #3366FF; }

.OrgEdge div {
    color: #FFA500;
    font-weight: 800;
}
