[project]
	description = Organizational Chart JavaScript Library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rchockxm (rchockxm)
[access "refs/for/refs/*"]
	read = group user/Rchockxm (rchockxm)
	push = group user/Rchockxm (rchockxm)
	label-Code-Review = -2..+2 group user/Rchockxm (rchockxm)
	label-Verified = -1..+1 group user/Rchockxm (rchockxm)
	rebase = group user/Rchockxm (rchockxm)
	removeReviewer = group user/Rchockxm (rchockxm)
	submit = group user/Rchockxm (rchockxm)
[access "refs/heads/*"]
	read = group user/Rchockxm (rchockxm)
	create = group user/Rchockxm (rchockxm)
	push = +force group user/Rchockxm (rchockxm)
	pushMerge = group user/Rchockxm (rchockxm)
[access "refs/tags/*"]
	push = +force group user/Rchockxm (rchockxm)
	pushTag = group user/Rchockxm (rchockxm)
	pushSignedTag = group user/Rchockxm (rchockxm)
